---
import { tagColors } from "../utils/tagColors";
import { tagIcons } from "../utils/tagIcons";
---

<footer class="w-full py-8 bg-gray-100 dark:bg-gray-900 border-t border-gray-300 dark:border-gray-700">
  <div
    class="flex flex-col items-center justify-center gap-y-4 md:flex-row md:justify-between md:gap-y-0 px-8 lg:px-20"
  >
    <div class="order-last md:order-first">
      <p>&copy; {new Date().getFullYear()} David Moriarty. All rights reserved.</p>
    </div>

    <div class="inline-flex space-x-6">
      <a
        href="https://github.com/davidmoriarty"
        class="flex items-center gap-1 hover:text-gray-900 dark:hover:text-white"
      >
        <tagIcons.GitHub class="h-4 w-4" />
        Portfolio GitHub
      </a>
      <a href="https://github.com/dmzstudio" class="flex items-center gap-1 hover:text-gray-900 dark:hover:text-white">
        <tagIcons.GitHub class="h-4 w-4" />
        Personal GitHub
      </a>
      <a href="https://www.linkedin.com/in/david-moriarty-248b4970" class="hover:text-gray-900 dark:hover:text-white">
        LinkedIn
      </a>
    </div>
  </div>
</footer>
