<header class="sticky top-0 inset-x-0 z-40 bg-gray-100 dark:bg-gray-900 border-b border-gray-300 dark:border-gray-700">
  <div class="flex items-center justify-between px-8 lg:px-20 py-4">
    <a href="/" class="text-lg font-bold"> David Moriarty </a>

    <!-- Links -->
    <nav aria-label="Primary">
      <ul class="inline-flex space-x-8">
        <li>
          <a href="/" class="font-medium">Home</a>
        </li>
        <li>
          <a href="/projects" class="font-medium">Projects</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
